/*This is the google font I have chosen to use*/
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
/*These universal properties apply to the whole css*/
* {
	--Mauve: #46092c;
	--Citrus: #f5fd7b;
	--LightMauve: #b35ba4;
	--Teal: rgb(15, 86, 106);
}

/*These are the wrapper/body container properties*/
body {
	color: var(--Citrus);
}

/*These are the wrapper/body container properties*/
.choice-container {
	display: flex;
	margin-bottom: 0.8rem;
	width: 100%;
	border-radius: 4px;
	background: var(--Citrus);
	font-size: 3rem;
	min-width: 80rem;
}
/*These are the wrapper/body container properties when on hover state*/
.choice-container :hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 var(--Citrus) 0.5;
	transform: scale(1.02);
	transform: transform 100ms;
}
/*This styles the question selection text*/
.choice-prefix {
	padding: 2rem 2.5rem;
	color: var(--LightMauve);
}
/*This styles the question selection text*/
.choice-text {
	padding: 2rem;
	width: 100%;
}

/*These are the hud properties*/
#hud {
	display: flex;
	justify-content: space-between;
}

.hud-prefix {
	text-align: center;
	font-size: 2rem;
}
/*This styles the hud text*/
.hud-main-text {
	text-align: center;
}
/*This styles the progress bar*/
#progressBar {
	width: 20rem;
	height: 3rem;
	border: 0.2rem var(--LightMauve);
	margin-top: 2rem;
	border-radius: 50px;
	overflow: hidden;
}
/*This styles the progress bar*/
#progressBarFull {
	height: 100%;
	background: var(--Citrus);
	width: 0%;
}
